html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }

.div-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-1 > div {
    color: white;
    font-family: nunito, sans-serif;;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    font-weight: none;
    
}

.div-2 {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:30px;
}

.div-2 > div {
    color: white;
    font-family: nunito, sans-serif;
    font-weight: none;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    
}

.div-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url("../img/fondo3.jpg");    
}

#contact{
    position: relative;
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#par1{
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 40px;
    color: #3d3d3d;
}

.div-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;   
}

#contact2{
    width: 50%;
    height: 450px;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    color: gray;
}

.div-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 22px;
    color: White;
    text-align: center;  
}

#par2{
    padding: 25px;
}

.div-6 {
    width: 100%;
    background-color:white;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 22px;
    color: rgb(53, 53, 53); 
}

.div-6 > form{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
}

.div-6 > p{
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 10%;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    font-size: 12px;
    color: red;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;}

    .div-7 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(53, 53, 53);
        font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
        font-size: 12px;
        color: White;
        text-align: left;  
    }

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}  

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
}


.box1{
    flex-grow: 1;
}
.box2{
    flex-grow: 2;
}

.box3{
    flex-grow: 3;
}

.box6{
    flex-grow: 6;
}

.body-1{
   background-color: black;
}